[Unit]
Description=Run ClamAV full system scan weekly

[Timer]
OnCalendar=Sun 03:00
Persistent=true
RandomizedDelaySec=1h
Unit=clamav-full-scan.service

[Install]
WantedBy=timers.target
