[Unit]
Description=ClamAV full system scan
ConditionPathIsExecutable=%h/.local/bin/clamav-helper

[Service]
Type=oneshot
ConditionACPower=true
ExecStart=%h/.local/bin/clamav-helper full
