**

!.gitignore
!/.github/
!/.github/**

# Shell configs
!/.profile
!/.bashrc
!/.bash_profile

# Configs
!/.config/
!/.config/**

# Sensitive dirs
/.config/gh/
/.config/keepassxc/
/.config/git/credentials

# Crud
/.config/autostart/
/.config/cava/
/.config/dconf/
/.config/GIMP/
/.config/go/telemetry/
/.config/gtk-4.0/assets
/.config/gtk-4.0/gtk-dark.css
/.config/gtk-4.0/gtk.css
/.config/Nextcloud/
/.config/nvim/spell/
/.config/pulse/
/.config/qalculate/qalc.history*
/.config/QtProject/
/.config/simple-scan/
/.config/systemd/user/*.wants/
/.config/systemd/user/pipewire*
/.config/Thunar/
/.config/xfce4/
/.config/QtProject.conf

/.config/Kvantum/*
!/.config/Kvantum/kvantum.kvconfig

# User scripts
!/.local/
!/.local/bin/
!/.local/bin/**
