@define-color foreground #e6e6e6;

@define-color background rgba(08, 08, 08, 0.3);
@define-color background-alt rgba(32, 32, 32, 1.0);
@define-color background-hover rgba(64, 64, 64, 0.60);

@define-color accent #dedede;
@define-color warning #f0c674;
@define-color urgent #eb4d4b;


* {
	color: @foreground;

	font-family: "FiraCode Nerd Font Mono", "Symbols Nerd Font Mono", "Fira Sans Semibold", "Ubuntu Nerd Font", sans-serif;
	font-size: 16px;
	font-weight: 400;

	border: none;
	border-radius: 0;

	padding: 0px;
	margin: 0px;
}

window#waybar {
	background: @background;
}

tooltip {
	background: @background-alt;
}

tooltip label {
	padding: 8px;
}


#workspaces,
#window,
#clock,
#pulseaudio,
#custom-g703,
#cpu,
#memory,
#battery,
#tray,
#idle_inhibitor,
#custom-exit,
#network,
#bluetooth {
	margin: 2px 2px;
	padding: 2px 6px;
	transition: all 0.1s ease;
}

#pulseaudio:hover,
#custom-g703:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#clock:hover,
#idle_inhibitor:hover,
#custom-exit:hover,
#network:hover,
#bluetooth:hover,
#workspaces button:hover {
	background: @background-hover;
}


/*
 * Padding
 */
/* Remove left-padding on workspaces */
#workspaces {
	padding: 0;
}

#window {
	padding-left: 8px;
	padding-right: 8px;
}

#cpu {
	margin-left: 4px;
}
#memory {
	margin-right: 8px;
}

#custom-g703 {
	padding-left: 8px;
	padding-right: 8px;
}

#tray {
	margin-right: 8px;
}

/* Match total visual width for icon-only controls */
#idle_inhibitor,
#custom-exit {
	padding-left: 8px;
	padding-right: 8px;
}
#custom-exit {
	margin-right: 2px;
}

/* Prevent empty bluetooth container when bluetooth disabled */
#bluetooth.off {
	padding: 0;
	margin: 0;
}


/*
 * Workspaces
 */
#workspaces button {
	padding: 0 3px;
	margin: 0 1px;
}

#workspaces button.active {
	margin-bottom: -2px;
	border-bottom: 2px solid @accent;
}

#workspaces button.urgent {
	border-bottom: 2px solid @urgent;
}


/*
 * Hardware
 */
#battery.warning {background: @warning;}
#battery.critical:not(.charging) {background: @urgent;}

#network.disconnected {background: @urgent;}


/*
 * Tray
 */
#tray:hover,
#tray*:hover {
	background: @background-hover;
}
#tray* {
	padding: 4px 2px;
}
#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	background: @urgent;
}
